*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* this portion is box adjustment */

.title{
    position: absolute;
    left: 5vw;
    top: 3vh;
}

.fa-bars{
    display: none;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;

}

.left-log-content{
    height: 100vh;
    width: 50vw;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-log-content{
    height: 100vh;
    width: calc(100vw - 50vw);
    /* background-color:red; */
}
/* this part is for right side background */
.background-photo{
    height: 95%;
    width: 95%;
    background-image: url("log-photo.jpg");

    background-size: cover;
    
}

/* this portion is for log in part */

.log-in{
    height: 70%;
    width: 50%;
    /* background-color:rebeccapurple; */
    border-radius: 2vw;
}

a{
    color: #316FF6;
}

.start{
    height: 5vh;
    font-size:1vw ;
}

.inside-box{
    height: 70%;
    font-size: 2vw;
    text-align: center;
}

.input{
    padding-top: 5vh;
    height: 25%;
    
}

.emii{
    height: 3vw;
    width: 20vw;
    padding-left: 1vw;
    font-size: 2vh;
}

.pass{
    height: 3vw;
    width: 20vw;
    padding-left: 1vw;
    font-size: 2vh;
}

.sign-in{
height: 25%;
 padding-top: 5vh;
}

.sign-button{
    height: 7vh;
    width: 20vw;
    background-color: #316FF6;
    border: none;
    color: white;
    font-size: 1vw;
}


.log-with{

    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    
}

.log{
    height: 7vh;
    width: 4vw;
    border: none;
    background-color:white;
    cursor: pointer;
}

.signupwith{
    padding-top: 1.9vh;
}

.with{
    font-size: 2vh;
}

.have-an-account{
    position: absolute;
    bottom: 5vh;
    left: 5vw;
}

.fa-facebook{
   color: #316FF6;
   font-size: 2.5vh;
}

.fa-google{
    font-size: 2.5vh;
}

.fa-microsoft{
    color: purple;
    font-size: 2.5vh;
}

.log:hover{
    border: 0.5px solid;
}


@media(max-width:720px){
    .right-log-content{
        display: none;
    }


    .left-log-content{
        width: 100%;
    }

    .log-in{
        width: 90%;
    }

    .title{
        background-color: #316FF6;
        height: 8%;
        width: 100%;
        position: absolute;
        top: 0%;
        left: 0;
    }

    .trio{
        font-size: 4vh;
        margin-top: 2vh;
        margin-left: 4vw;
    }

    .fa-bars{
        position: absolute;
        font-size: 3vh;
        margin-top: 2.5vh;
        margin-left: 4vw;
        top: 0%;
        right: 4%;

    }


    .h1{
        text-align: center;
        font-size: 2vh;
    }


    .heading{
        font-size: 4vh;
    }


    .input{
        width: 100%;
        height: 10vh;

    }

    .emii{
        height: 6vh;
        width: 74vw;
        padding-left: 3vw;
    }

    .pass{
        height: 6vh;
        width: 74vw;
        padding-left: 3vw;
    }



    .sign-button{
        width: 53vw;
        /* height: ; */
        font-size: 2vh;
    }

    .log-with{
        height: 26%;
        gap: 13vw;
        
    }

    .log{
        height: 6vh;
        width: 15vw;
        border: 1px solid ;
    }

    .fa-brands{
        font-size: 3vh;
    }

    .have-an-account{
        font-size: 5vw;
        position: absolute;
        bottom: 12vh;
        left: 25vw;
    }
}

